APP_NAME=go-template
APP_ENV=dev
SERVICE_NAME=api
PORT=8080

# Logger
LOG_LEVEL=debug

# PostgreSQL
POSTGRES_DB=app
POSTGRES_USER=app
POSTGRES_PASSWORD=app
POSTGRES_PORT=5432
DATABASE_URL=postgres://app:app@postgres:5432/app?sslmode=disable
